.clinic
database/coms/fnbots.*.json
database/db/fnbots.*.json
database/db/*.bak
downloads/
har_and_cookies
node_modules
simulation_images
src/session/*.json
venv
.env
a.sh
b.sh
cookie.json
eng.traineddata
ind.traineddata
coba.py
package-lock.json
q.js
t.js
test.js
v.js
w.js
x.js
y.js
yarn.lock
z.js
