alembic==1.4.3
attrs==19.3.0
Automat==0.8.0
beautifulsoup4==4.9.3
bella==2.1.4
blinker==1.4
bs4==0.0.1
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
chromedriver-binary==87.0.4280.20.0
chromedriver-py==86.0.4240.22
click==7.1.2
cloud-init==20.3
colorama==0.4.3
command-not-found==0.3
configobj==5.0.6
constantly==15.1.0
convertapi==1.4.0
cryptography==3.2
dataclasses-json==0.5.2
dbus-python==1.2.16
deadjson==1.0.6
distro==1.4.0
distro-info===0.23ubuntu1
entrypoints==0.3
ffmpeg==1.4
fire==0.3.1
Flask==1.1.2
future==0.18.2
googlesearch-python==2020.0.2
googletrans==3.0.0
gTTS==2.1.1
gTTS-token==1.1.3
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2020.10.6
httpcore==0.9.1
httplib2==0.18.0
httpx==0.13.3
hyperframe==5.2.0
hyperlink==19.0.0
idna==2.10
img2pdf==0.4.0
importlib-metadata==1.5.0
incremental==16.10.1
instaloader==4.5.3
ipython-genutils==0.2.0
iso8601==0.1.13
isodate==0.6.0
itsdangerous==1.1.0
Jinja2==2.10.1
Js2Py==0.70
jsonpatch==1.22
jsonpointer==2.0
jsonschema==3.2.0
jupyter-core==4.6.3
keyring==18.0.1
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.5
livejson==1.9.1
lxml==4.5.2
Mako==1.1.3
MarkupSafe==1.1.0
marshmallow==3.8.0
marshmallow-enum==1.5.1
more-itertools==8.5.0
mypy-extensions==0.4.3
nbformat==5.0.8
netifaces==0.10.4
nhentai==0.4.5
oauthlib==3.1.0
olefile==0.46
openwa==1.3.8
pafy==0.5.5
pexpect==4.6.0
pigar==0.10.0
pikepdf==1.19.3
Pillow==7.2.0
protobuf==3.13.0
pyasn1==0.4.8
pyasn1-modules==0.2.1
pycparser==2.20
pydub==0.24.1
PyGObject==3.36.0
PyHamcrest==1.9.0
pyjsparser==2.7.1
PyJWT==1.7.1
pyOpenSSL==19.0.0
pypng==0.0.20
PyQRCode==1.2.1
pyrsistent==0.15.5
pyserial==3.4
pytesseract==0.3.6
python-apt==2.0.0+ubuntu0.20.4.1
python-axolotl==0.2.3
python-axolotl-curve25519==0.4.1.post2
python-dateutil==2.8.1
python-debian===0.1.36ubuntu1
python-editor==1.0.4
python-magic==0.4.18
python-youtube==0.6.4
pytube3==9.6.4
pytz==2020.1
PyYAML==5.3.1
pyzbar==0.1.8
qrtools==2.0
requests==2.24.0
requests-oauthlib==1.3.0
requests-unixsocket==0.2.0
rfc3986==1.4.0
SecretStorage==2.3.1
selenium==3.141.0
service-identity==18.1.0
simplejson==3.16.0
six==1.15.0
sniffio==1.1.0
sos==4.0
soupsieve==1.9.6
SQLAlchemy==1.3.19
ssh-import-id==5.10
stringcase==1.2.0
systemd-python==234
tabulate==0.8.7
termcolor==1.1.0
threadpool==1.3.2
traitlets==5.0.4
Twisted==19.7.0
typing-extensions==3.7.4.3
typing-inspect==0.6.0
tzlocal==2.1
ubuntu-advantage-tools==20.3
ufw==0.36
unattended-upgrades==0.1
urllib3==1.25.11
wadllib==1.3.3
Werkzeug==1.0.1
wikipedia==1.4.0
youtube-dl==2020.9.20
zipp==3.4.0
zope.interface==5.1.2
